<link rel="stylesheet" href="../css/navbar.css">

<nav class="menu">
  <div class="logo">
    <h1 class="logo-nav">ETEPAM</h1>
  </div>
  <ul>
    <a href="../inicial">
      <li class="active">Inicio</li>
    </a>

    <a href="../Postagem">
      <li>Informações e Projetos</li>
    </a>
    {{#if User}}
    {{else}}
    <a href="../mural">
    <!--<li>Publicar</li> n-->
    </a>
    {{/if}}
    <ul class="projetos">

      <li>
        Cursos
        <ul class="cursos">

          <li></li>
          <li></li>
        </ul>
      </li>
      <li></li>
    </ul>
    </li>
    <a href="../contato" target="_blank"> <!-- Aparecer em outra guia-->
      <li>Entre em contato</li>
    </a>
  </ul>
</nav>





<script>{ layout: false }</script>
</div>
</nav>