<link rel="stylesheet" href="../css/admlogin.css">  
  
  <form action="admlog" method="post"class="form">

        <h1 class="title">Login</h1>
        <div class="line"></div>


        <div class="inputs">
            <input autocomplete="off" type="email" name="email" id="usuario" required>
            <label class="usuario" for="email" >Nome de Usuário ou Email:</label>

            <input autocomplete="off" type="password"  name="senha"  id="senha"  required>
            <label class="senha" for="senha">Senha:</label>
            
            
             <p>Esqueceu a senha?</p>  
        
            <button type="submit" onclick="logar(); return false">Entrar</button>

        </div>
    </form>