
<form action="/add" method="POST" class="container">
    <h1>COLOQUE AS INFORMAÇÕES DO SEU POST</h1>



    <div class="card-header">
        <input type="text" name="titulo" placeholder="Título">
    </div>

    <div class="card-main">
        <p>Selecione a capa</p>
         <input type="file" name = "Image" placeholder="Imagem">
        
    </div>

    <div class="card-footer">
        <p>Conteúdo</p>
        <textarea type="text" name="conteudo" placeholder="Mensagem"></textarea>
    </div>

    <button type="subimit" class="btn btn-success">Publicar</button>

</form>

