<link rel="stylesheet" href="../css/inicio.css">
<link rel="stylesheet" href="../css/sobre.css">

<header>
      <div class="header-container">
        <h2>ETEPAM</h2>
        <div class="line"></div>
        <h1>Trabalhando Com Sonhos</h1>
      </div>
    </header>


<!--sobre nos-->

<section class="sobre">

<h1 class="titulo"> <span>Sobre</span> Nós</h1>

<div class="row">

<div class="img-container">
<img src="../img/pasta.png" alt="">
</div>

<div class="content">
  <h3>O portífolio da ETEPAM</h3>
  <p>O portífolio da ETEPAM foi construido com o objetivo de facilitar a disponibilidade sobre os projetos e inovações realizados na instiuição, dentro do site pode ser observado diversos projetos e informações sobre a escola, alem de oferecer uma auxilio no contato entre estudante e gestão.</p>
  <p>A necessidade de um portífolio veio diante da grande demanda de pessoas que sentiam que a instituição não possuia uma visibilidade referente aos projetos realizados pelos estudantes que efetuaram a graduação nos cursos que existem na escola</p>
  

</div>

</div>

</section>

<!--rodape-->

<section class="footer">

<div class="icons">
  <a href="" class="fab fa-facebook"></a>
  <a href="" class="fab fa-instagram"></a>
  <a href="" class="fab fa-facebook"></a>
</div>

<div class="links">
  <a href=""></a>
  <a href=""></a>
  <a href=""></a>
  <a href=""></a>
  <a href=""></a>
</div>

<div class="credit">Equipe TCC ETEPAM</div>

</section>