<link rel="stylesheet" href="../css/mais.css">

<div class="img-topo">
    <img src="../img/top10.jfif" alt="">
</div>



<div class="Noticia">
    <div class="title-n">
        <h1>ETEPAM está entre as 10 melhores do mundo</h1>
    </div>

    <div class="conteudo">
        <p>A Escola Técnica Estadual Professor Agamenon Magalhães (Etepam), que fica no bairro da Encruzilhada, Zona
            Norte do Recife, estimula o empreendedorismo na rotina escolar com a perspectiva de os alunos desenvolverem
            produtos ou ações que contribuam para solucionar problemas sociais e ambientais. Assim nasceu o Life Up,
            programa que colocou a unidade de ensino como finalista do Prêmio Melhores Escolas do Mundo (“World’s Best
            School Prizes em inglês).</p>

        <p>
            Organizada pela instituição britânica T4 Education, em parceria com Fundação Lemann, Fundação Templeton
            World Charity, Accenture, American Express e Yayasan Hasana, a premiação escolheu 50 escolas em todo o
            mundo. As unidades se candidataram e passaram por uma seleção. A Etepam está entre as 10 com melhores
            projetos na categoria inovação.
        </p>

        <p>

            Outros dois colégios brasileiros integram a lista das 50 melhores no planeta: uma escola da rede municipal
            de Cabrobó, no Sertão de Pernambuco, e outra, também municipal, da cidade gaúcha de Novo Hamburgo.

            As demais finalistas são unidades de países como Chile, Japão, Reino Unido, África do Sul e Jamaica, entre
            outros. Além de inovação, há as categorias colaboração comunitária, ação ambiental, superação da adversidade
            e apoio a vidas saudáveis.
        </p>

        <p>Estudam na Etepam 780 alunos, em horário integral (aulas de manhã e à tarde, de segunda à sexta-feira, das
            7h20 até 17h). Para ingressar nela é preciso ser aprovado numa seleção, realizada duas vezes ao ano pela
            Secretaria de Educação de Pernambuco.

            A escola oferece ensino médio integrado, quando é feita formação média e ensino técnico ao mesmo tempo; e o
            técnico subsequente, voltado para os jovens que já concluíram o ensino médio e vão fazer somente a parte
            técnica. Há cursos de mecatrônica, mecânica, logística, manutenção e suporte em informática, edificações e
            química.</p>

    </div>
</div>

<div class="part-2">

    <div class="Detalhes-n1">
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Impedit dicta et, dolorum inventore ea
            reprehenderit explicabo iste, odio possimus autem quam veritatis quisquam sint rerum minus, magnam fuga
            assumenda. Nulla.</p>
    </div>
    <div class="line-n"></div>

    <div class="Detalhes-n2">
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Impedit dicta et, dolorum inventore ea
            reprehenderit explicabo iste, odio possimus autem quam veritatis quisquam sint rerum minus, magnam fuga
            assumenda. Nulla.</p>
    </div>

</div>